.popup__text-name {
  color: #000;
  border: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  border-bottom: 1px solid #000;
  max-width: 358px;
  width: 100%;
  min-height: 14px;
  padding: 0;
  margin: 0 0 30px 9%;
  padding-bottom: 13px;
}

.popup__text-name:last-of-type {
  margin-bottom: 48px;
}

.popup__text-name:focus {
  outline: none;
}

.popup__text-name::placeholder {
  color: #000;
}

@media screen and (max-width: 768px) {
  .popup__text-name {
    max-width: 238px;
  }
}
