.elements__info {
  margin: 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*height: 79px;*/
  padding: 25px 0 31px 0;
  z-index: 1;
}
