.window__close {
    border: none;
    background-image: url(../../../images/sumbit-button_close.svg);
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -40px;
    background-size: contain;
}

.window__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .window__close {
        width: 20px;
        height: 20px;
        top: -35px;
        right: 0;
    }
}
