.elements__like-button {
  margin: 0;
  background-image: url(../../../images/elements-like.svg);
  background-position: 50%;
  border: 0;
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  background-color: transparent;
  cursor: pointer;
}

.elements__like-button:hover {
  opacity: 0.6;
}
