.popup__title {
  margin: 0;
  padding: 0;
  max-width: 330px;
  min-height: 23px;
  /* word-break: break-all; */
  margin: 34px 0 54px 9%;
}

@media screen and (max-width: 768px) {
  .popup__title {
    max-width: 238px;
  }
}
